/__pycache__
/.idea/codeStyleSettings.xml
/.idea/dictionaries/Marc.xml
/.idea/iDDU.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/track/dummie_track2.csv
/track/writeTest
/track/writeTest-2019-03-27_19-53-06-949
/build
/dist
/libs/__pycache__/*.pyc
/data/fuelSaving/Monza Full - Ford GT GTE
/gui/__pycache__/*.pyc
/venv
/.idea
/data/snapshots
/data/laplog
*.bak
/data/fuelSaving/*/*.png
/data/fuelSaving/*/*.json
/data/shiftTone/*/*.png
/data/shiftTone/*/*.json
/data/fuelSaving/porsche718gt4_indianapolis ovalindypit 2020-08-03 23-19-36/*.db
/*.db
/config.json
/data/car
/data/fuelSaving
/data/shiftTone
/data/track
/data/rollOut
/libs/*.pyo
/libs/*.bak
*.pyo
/data/configs/config.json
